@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,700,500);
a.link {
	position: relative;
	color: #009fda;
	text-decoration: none;
}

a.link:hover {
	color: #009fda;
}

a.link:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #009fda;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.1s ease-in-out 0s;
	transition: all 0.1s ease-in-out 0s;
}

a.link:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

footer,
.sticky,
.footer {
	position: fixed;
	bottom: 0;
}

html.ios {
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

html.ios,
html.ios body {
	height: initial !important;
}

@media(max-width: 960px) {
	.ui.inverted.red.menu {
		display: none;
	}
	#mobile {
		display: block;
	}
	#toggle {
		display: inherit;
	}
}

@media(min-width: 960px) {
	#toggle {
		display: none;
	}
	#comHeader {
		box-sizing: 75%;
	}
}

#comStat {
	line-height: 5em;
}
