@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,700,500);
a.link {
	position: relative;
	color: #009fda;
	text-decoration: none;
	-webkit-transition: color 0.3s ease-in-out 0s;
	-moz-transition: color 0.3s ease-in-out 0s;
	-ms-transition: color 0.3s ease-in-out 0s;
	-o-transition: color 0.3s ease-in-out 0s;
	transition: color 0.3s ease-in-out 0s;
}

a.link:hover {
	color: #0fbfff;
}

a.link:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	/*left: -100%;*/
	background-color: #0fbfff;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

a.link:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

a.light-link {
	position: relative;
	color: #EEEEEE;
	text-decoration: none;
	-webkit-transition: color 0.3s ease-in-out 0s;
	-moz-transition: color 0.3s ease-in-out 0s;
	-ms-transition: color 0.3s ease-in-out 0s;
	-o-transition: color 0.3s ease-in-out 0s;
	transition: color 0.3s ease-in-out 0s;
}

a.light-link:hover {
	color: #EEEEEE;
}

a.light-link:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #EEEEEE;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

a.light-link:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
footer,
.sticky,
.footer {
	position: fixed;
	bottom: 0;
}

.dark-grey {
	background-color: #424242;
}

.dark-purple {
	background-color: #4a148c !important;

}

.light-blue-text {
	color: #90CAF9 !important;
}

.dark-orange {
	background-color: #bf360c !important;
}

html.ios {
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

html.ios,
html.ios body {
	height: initial !important;
}

/*
@media(max-width: 960px) {
	.ui.inverted.red.menu {
		display: none;
	}
	#mobile {
		display: block;
	}
	#toggle {
		display: block;
	}
}

@media(min-width: 960px) {
	#toggle {
		display: none;
	}
	#comHeader {
		box-sizing: 75%;
	}
}

#comStat {
	line-height: 5em;
}
*/

/* @media all and (max-width:630px) {
    #m_button{
        display: inline-block;
    }
} */

